*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: white;
    display: block;
    font-size: 17px;
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: -.022em;
    font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/*Menu*/

nav{
    display: flex;
    height: 58px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(22, 22, 23, .99);
}

.logo_apple{
    color: whitesmoke;
    font-size: 28px;
}

nav ul{
    display: flex;
}

nav ul{
    text-decoration: none;
    list-style: none;
}

nav ul li a{
    padding: 45px;
    color: whitesmoke;
    text-decoration: none;
    list-style: none;
    font-family: inherit;
}

nav ul li a:hover{
    color: whitesmoke;
}

.icono{
    color: whitesmoke;
    font-size: 28px;
    margin: 15px;
}
i{
    color: whitesmoke;
    padding: 16px;
}

/*Letras de la primera parte*/

h2{
    position: absolute;
    text-align: center;
    font-size: 80px;
    left: 48%;
    top: 17%;
    color: aliceblue;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    transform: translate(-50%,-50%);

}
.p_sub{
    position: absolute;
    color: aliceblue;
    top: 22.5%;
    left: 47%;
    font-size: 39px;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 20%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    transform: translate(-50%,-50%);
}
.p_sub2{
    position: absolute;
    color: aliceblue;
    top: 22%;
    left: 48%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 38px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    transform: translate(-50%,-50%);
}
.p_sub2_1{
    position: absolute;
    color: aliceblue;
    top: 25%;
    left: 48%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 39px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    transform: translate(-50%,-50%);
}
.p_info{
    position: absolute;
    color: gray;
    top: 26%;
    left: 47%;
    font-size: 30px;
    transform: translate(-50%,-50%);
}
.p_info21{
    position: absolute;
    color: gray;
    top: 29%;
    left: 48.5%;
    font-size: 30px;
    transform: translate(-50%,-50%);
}
.link{
    display: flex;
    position: absolute;
    top: 30%;
    left: 24.5%;
    color: whitesmoke;
    background-color: #0071e3;
    font-size: 30px;
    margin: 400px;
    border-radius: 100px;
    text-decoration: none;
    justify-content: center;
    margin-top: 25px;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    transform: translate(-50%,-50%);
}
.link21{
    display: flex;
    position: absolute;
    top: 33%;
    left: 27%;
    color: whitesmoke;
    background-color: #0071e3;
    font-size: 30px;
    margin: 400px;
    border-radius: 100px;
    text-decoration: none;
    justify-content: center;
    margin-top: 25px;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    transform: translate(-50%,-50%);
}

.img_galery1{
    object-fit: cover;
    width: 100%;
    display: inline-block;
}

.img_galery1 img{
    height: 100%;
}

/*Imagen Macbook*/
.contenedor_imagen{
    position: relative;
    display: inline-block;
    object-fit: cover;
    width: 100%;
    text-align: center;
}

/*Barra blanca*/
.division{
    background-color: white;
    height: 15px;
}

/*Imagen iPad*/
.contenedor_imagen2{
    position: relative;
    display: inline-block;
    object-fit: cover;
    width: 100%;
    text-align: center;
}

/*Imagen iPhone*/
.contenedor_imagen3{
    position: relative;
    display: inline-block;
    object-fit: cover;
    width: 100%;
    text-align: center;
}

/*Segunda parte*/
img{
    width: 100%;
    object-fit: cover;
}
.img_galery{
    width: 100%;
    max-width: 2000px;
    margin: 10px 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(830px, 2fr));
    grid-auto-rows: 800px;
    gap: 20px;
}
.img_galery img {
    height: 100%;
}
.contenedor1{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor2{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor3{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor4{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor5{
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor6{
    position: relative;
    display: inline-block;
    text-align: center;
}

h3{
    color: #1d1d1f;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 55px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.p_sub3{
    color: #1d1d1f;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.p_sub3w{
    color: aliceblue;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.p_sub3_1{
    color: #1d1d1f;
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.p_sub3_2{
    color: #1d1d1f;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 28px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.p_sub4{
    background: -webkit-linear-gradient(356deg, #0090F7, #BA62FC, #F2416B, #F55600);
    background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;

    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.p_sub4_1{
    color: #6e6e73;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.p_info2{
    color: #6e6e73;
    top: 26%;
    font-size: 26px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.p_info2_1{
    color: #6e6e73;
    top: 21%;
    font-size: 26px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.link2{
    color: whitesmoke;
    background-color: #0071e3;
    border-radius: 100px;
    font-size: 27px;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    top: 30%;
    padding: 13px;
    left: 39%;
}
.link2_1{
    color: whitesmoke;
    background-color: #0071e3;
    border-radius: 100px;
    font-size: 27px;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    top: 25%;
    padding: 13px;
    left: 39%;
}

/*tercera parte*/
.img_peliculas{
    display: flex;
    flex-direction: row;
    align-content: center;
    overflow-x: auto;
}

.img_peliculas{
    overflow: hidden;
    width: 100%;
}

.slide{
    display: flex;
    align-content: center;
    justify-content: center;
    animation: spin 45s infinite linear;
    font-size: 1em;
}
.slide img{
    width: 1700px;
    height: 800px;
    padding: 5px;
}
.slide img:hover{
    color: aliceblue;
    opacity: 80%;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}
