*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: white;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: -.022em;
    font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}


header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 45px;
    align-items:center;
    justify-content: space-around;
    background-color: rgba(22, 22, 23, .99);
    z-index: 100;
}

header ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

header ul li a{
    padding: 37px;
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    list-style: none;
    font-family: inherit;
}

header ul li a:hover{
    color: whitesmoke;
}

.icon_apple{
    font-size: 27px;
}
.icon-search{
    font-size: 23px;
}
i{
    color: rgba(255, 255, 255, .8);;
    padding: 10px;
}


h2{
    position: absolute;
    text-align: center;
    font-size: 70px;
    left: 50%;
    top: 12%;
    color: aliceblue;
    transform: translate(-50%,-50%);
}
.subtitle{
    position: absolute;
    color: aliceblue;
    top: 20%;
    left: 50%;
    font-size: 33px;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 20%;
    transform: translate(-50%,-50%);
}
.separate-line{
    margin-top: 10px;
    line-height: 1;
}

.consult{
    position: absolute;
    color: gray;
    left: 50%;
    font-size: 27px;
    transform: translate(-50%,-50%);
}
.consult-primary{
    top: 26%;
}
.consult-secundary{
    top: 29%;
}

.information{
    display: flex;
    position: absolute;
    top: 27%;
    left: 39%;
    color: whitesmoke;
    background-color: #0071e3;
    font-size: 20px;
    border-radius: 100px;
    text-decoration: none;
    justify-content: center;
    margin-top: 25px;
    padding: 11px;
}

.buttom-buy{
    display: flex;
    position: absolute;
    left: 53%;
    color: whitesmoke;    
    font-size: 20px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    text-decoration: none;
    justify-content: center;
    margin-top: 25px;
    padding: 11px;
}
.buttom-buy:hover{
    background-color: #0071e3;
}
.buttom-primary{
    top: 27%;
}
.buttom-secundary{
    top: 30%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img_galery1{
    width: 100%;
    display: inline-block;

}
.container{
    position: relative;
    width: 100%;
    text-align: center;
}
.separation{
    padding-top: 7px;
}


.img_galery2{
    width: 100%;
    max-width: 100%;
    margin: 10px 0px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 2fr));
    grid-auto-rows: 650px;
    gap: 20px;
}

.title-image{
    position: absolute;
    display: inline-block;
    max-width: 100%;
    margin-left: 29%;
    margin-top: 6%;
    font-size: 30px;
    text-align: center;
}
h3{
    color: #1d1d1f;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 43px;
}
.subtitle-galery{
    color: #1d1d1f;
    position: absolute;
    width: 100%;
    top: 13%;
    font-size: 27px;
}
.white{
    color: aliceblue;
}

.subtitle-rainbow{
    background: -webkit-linear-gradient(356deg, #0090F7, #BA62FC, #F2416B, #F55600);
    background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;

    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
}
.footnote-galery{
    color: #6e6e73;
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
}

.consult-galery{
    width: 100%;
    color: #6e6e73;
    top: 26%;
    font-size: 24px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.elevated{
    top: 21.5%;
}

.information-galery{
    color: whitesmoke;
    background-color: #0071e3;
    border-radius: 100px;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    top: 34%;
    padding: 10px;
    left: 50%;
    transform: translate(-50%,-50%);
}
.link-elevated{
    top: 30%;
}


.img_peliculas{
    position: relative;
    display: flex;
    flex-direction: row;
    overflow-x: auto;

    overflow: hidden;
    width: 100%;
}

.slide{
    display: flex;
    animation: spin 60s infinite linear;
    font-size: 1px;
}
.slide img{
    width: 1000px;
    height: 100%;
    padding: 5px;
}
.movie{
    position: relative;
}

.buttom-watch{
    position: absolute;
    color: black;
    background-color: aliceblue;
    border-radius: 100px;
    font-size: 23px;
    text-decoration: none;
    justify-content: center;
    top: 88%;
    left: 12%;
    padding: 10px;
    transform: translate(-50%,-50%);
}
.typography{
    position: absolute;
    width: 65%;
    color: rgb(255, 255, 255);
    font-size: 21px;
    top: 85%;
    left: 19%;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.class-movie{
font-size: 25px;
font-weight: 700;
}

.degradate:before{
    content: "";
    width: 99.5%;
    height: 99.4%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.5));
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}


.container_footer{
    min-width: 320px;
    background-color: rgb(245, 245, 247);
    padding: 5px 11px;
}

.footnote{
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 200px;
    margin-inline-end: 230px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.footnote_ai{
    list-style: none;
    padding-bottom: 0.8em;
}
.footnote_ai a{
    color: rgba(0, 0, 0, 0.72);
}

.footer{
    margin: 0;
    margin-block-end: 3em;
    margin-inline-start: 182px;
    margin-inline-end: 230px;
    font-size: 14px;
}
.footer_row{
    display: flex;
    flex-wrap: wrap;
}
.footer_row p{
    margin-left: 10px;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.72);
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    width: 100%;
}

.footer_links{
    width: 25%;
    padding: 0px 20px;
}
.footer_links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);
    position: relative;
}
.footer_links a:hover:before{
    content: '';
    border-bottom: 2px solid rgba(0, 0, 0, 0.72);
    position: absolute;
    bottom: -1px;
    width: 100%;
}
.footer_links h4{
    font-size: 14px;
    margin-bottom: 9px;
    font-weight: 500;
    margin-top: 18px;
}

.copy{
    margin-top: 2%;
    color: rgba(0, 0, 0, 0.72);
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.copy a{
    margin-left: 25px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);
    position: relative;
}
.copy a:hover::before{
    content: '';
    border-bottom: 2px solid rgba(0, 0, 0, 0.72);
    position: absolute;
    bottom: -1px;
    width: 100%;
}