*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    list-style: none;
}

body{
    background-color: white;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-size: 17px;
    letter-spacing: -.022em;
    font-family:"SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

/*Menu*/

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 45px;
    align-items:center;
    justify-content: space-around;
    background-color: rgba(22, 22, 23, .99);
    z-index: 100;
}

header ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}

header ul li a{
    padding: 37px;
    font-size: 14px;
    color: rgba(255, 255, 255, .8);
    text-decoration: none;
    list-style: none;
    font-family: inherit;
}

header ul li a:hover{
    color: whitesmoke;
}

.icon_apple{
    font-size: 25px;
}
.icon-search{
    font-size: 23px;
}
i{
    color: rgba(255, 255, 255, .8);;
    padding: 10px;
}

/*Letras de la primera parte*/

h2{
    position: absolute;
    text-align: center;
    font-size: 70px;
    left: 50%;
    top: 12%;
    color: aliceblue;
    transform: translate(-50%,-50%);
}
.subtitle{
    position: absolute;
    color: aliceblue;
    top: 20%;
    left: 50%;
    font-size: 33px;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 20%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    transform: translate(-50%,-50%);
}
.separate-line{
    margin-top: 10px;
    line-height: 0.8;
}

.information{
    position: absolute;
    color: gray;
    left: 50%;
    font-size: 27px;
    transform: translate(-50%,-50%);
}
.information-primary{
    top: 26%;
}
.information_secundary{
    top: 29%;
}

.link{
    display: flex;
    position: absolute;
    top: 27%;
    left: 39%;
    color: whitesmoke;
    background-color: #0071e3;
    font-size: 20px;
    border-radius: 100px;
    text-decoration: none;
    justify-content: center;
    margin-top: 25px;
    padding: 11px;
}

.buttom-buy{
    display: flex;
    position: absolute;
    left: 53%;
    color: whitesmoke;    
    font-size: 20px;
    border: 1px solid #0071e3;
    border-radius: 100px;
    text-decoration: none;
    justify-content: center;
    margin-top: 25px;
    padding: 11px;
}
.buttom-buy:hover{
    background-color: #0071e3;
}
.buttom-primary{
    top: 27%;
}
.buttom-secundary{
    top: 30%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img_galery1{
    width: 100%;
    display: inline-block;

}

.container{
    position: relative;
    width: 100%;
    text-align: center;
}

.separation{
    padding-top: 7px;
}

/*Segunda parte*/
.img_galery2{
    width: 100%;
    max-width: 100%;
    margin: 10px 0px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 2fr));
    grid-auto-rows: 800px;
    gap: 20px;
}

.titulo_img{
    position: absolute;
    display: inline-block;
    text-align: center;
    margin-left: 25%;
    margin-top: 8%;
    width: 50%;
}
h3{
    color: #1d1d1f;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 49.5px;
}
.subtitle2{
    color: #1d1d1f;
    position: absolute;
    top: 15%;
    left: 39%;
    transform: translate(-22%,-50%);
    font-size: 30px;
}
.subtitle2-1{
    color: #1d1d1f;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.subtitle2_1{
    position: absolute;
    color: aliceblue;
    top: 25%;
    left: 48%;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 39px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    transform: translate(-50%,-50%);
}
.subtitle2-2{
    color: #1d1d1f;
    position: absolute;
    top: 16%;
    left: 35%;
    transform: translate(-27%,-50%);
    font-size: 30px;
}
.subtitle2-white{
    color: aliceblue;
    position: absolute;
    top: 16%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.subtitle2_1{
    color: #1d1d1f;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
.subtitle2_1_{
    color: #1d1d1f;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-43%,-50%);
    font-size: 30px;
}

.subtitle2_2{
    color: #1d1d1f;
    position: absolute;
    top: 16%;
    left: 29%;
    transform: translate(-22%,-50%);
    font-size: 29.5px;
}
.subtitle2-4{
    background: -webkit-linear-gradient(356deg, #0090F7, #BA62FC, #F2416B, #F55600);
    background: linear-gradient(94deg, #0090F7, #BA62FC, #F2416B, #F55600);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;

    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
}
.subtitle2-4_1{
    color: #6e6e73;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
}
.p_info2{
    color: #6e6e73;
    top: 25%;
    font-size: 26px;
    position: absolute;
    left: 35%;
    transform: translate(-28%,-50%);
}
.p_info2_1{
    color: #6e6e73;
    top: 21%;
    font-size: 25px;
    position: absolute;
    left: 33%;
    transform: translate(-20%,-50%);
}
.link2{
    color: whitesmoke;
    background-color: #0071e3;
    border-radius: 100px;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    top: 28%;
    padding: 13px;
    left: 36%;
}
.link2_1{
    color: whitesmoke;
    background-color: #0071e3;
    border-radius: 100px;
    font-size: 27px;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    top: 25%;
    padding: 13px;
    left: 35%;
}

/*tercera parte*/
.img_peliculas{
    display: flex;
    flex-direction: row;
    align-content: center;
    overflow-x: auto;

    overflow: hidden;
    width: 100%;
}

.slide{
    display: flex;
    align-content: center;
    justify-content: center;
    animation: spin 45s infinite linear;
    font-size: 1px;
}
.slide img{
    width: 1200px;
    height: 100%;
    padding: 5px;
}
.slide img:hover{
    color: aliceblue;
    opacity: 80%;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

/*Pie de Pagina*/

.container_footer{
    min-width: 320px;
    background-color: rgb(245, 245, 247);
    padding: 5px 11px;
}
.footnote{
    margin: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 200px;
    margin-inline-end: 230px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.56);
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}
.footnote_ai{
    list-style: none;
    padding-bottom: 0.8em;
}
.footnote_ai a{
    color: rgba(0, 0, 0, 0.72);
}

.footer{
    margin: 0;
    margin-block-end: 3em;
    margin-inline-start: 182px;
    margin-inline-end: 230px;
    font-size: 14px;
}

.footer_row{
    display: flex;
    flex-wrap: wrap;
}
.footer_row p{
    margin-left: 10px;
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.72);
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    width: 100%;
}
.footer_links{
    width: 25%;
    padding: 0px 20px;
}
.footer_links a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);
    position: relative;
}
.footer_links a:hover:before{
    content: '';
    border-bottom: 2px solid rgba(0, 0, 0, 0.72);
    position: absolute;
    bottom: -1px;
    width: 100%;
}
.footer_links h4{
    font-size: 14px;
    margin-bottom: 9px;
    font-weight: 500;
    margin-top: 18px;
}
.copy{
    margin-top: 2%;
    color: rgba(0, 0, 0, 0.72);
    display: flex;
    flex-wrap: wrap;
    padding: 0px 20px;
}
.copy a{
    margin-left: 25px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.72);
    position: relative;
}
.copy a:hover::before{
    content: '';
    border-bottom: 2px solid rgba(0, 0, 0, 0.72);
    position: absolute;
    bottom: -1px;
    width: 100%;
}
